.navbar-lewagon {
  justify-content: space-between;
  background-image: url("https://unsplash.com/photos/MLxu9kE082c");
  height: 200px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}
